html, body 		{ position: absolute; width:  100%; height:  100%; background-color: #ffffff; margin: 0; padding: 0; font-family: Arial, sans-serif; font-size: 16px; color: #005f9c; overflow: auto; }
canvas 			{ position: absolute; background-color: transparent; display: block; margin: 0; padding: 0; }
video 			{ position: absolute; background-color: transparent; display: none;  margin: 0; padding: 0; }

#_wrapper	 	{ width:  100%; height:  100%;  padding-top: 50px;}
#_content 		{ position: absolute; width: 640px; height: 480px; background-color: #f7f7f7; margin: auto; top: 10px; left: 40%; right: 0; }
#_progressBar	{ position: absolute; width:   1px; height: 480px; background-color: #000000; margin: auto; top: 0; left: 0; }
#_subline		{ position: absolute; width: 640px; height:  40px; background-color: transparent; margin: auto; left: 0; right: 0; top: 490px; }
#_highlight		{ position: absolute; width: 640px; height:  auto; background-color: transparent; margin: auto; left: 0; right: 0; top: 525px; font-size: 8pt; }
#_brfv4_logo	{ position: absolute; width: 200px; left:     0;   bottom: 0; opacity: 0.5; }
#_stats	        { position: absolute; width:  80px; height:  48px; left:   0; top:  0; }

#_settingsLeft 	{ position: absolute; width: 160px; height: 480px; background-color: transparent; }
#_settingsRight { position: absolute; width: 255px; height:  100%; background-color: transparent; right: 0; }
#_msg           { position: absolute; width: 100%;  height:  40px; background-color: transparent; bottom: 0; }
